site_name: pywttr
repo_url: https://github.com/monosans/pywttr
repo_name: monosans/pywttr
edit_uri: edit/main/docs/
theme:
  name: materialx
  features:
    - content.action.edit
    - content.code.copy
    - navigation.footer
    - navigation.prune
    - toc.follow
  icon:
    logo: fontawesome/solid/cloud-sun
    repo: fontawesome/brands/github
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Light mode
extra:
  social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/monosans
      name: Developer's Telegram
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/monosans
      name: Developer's LinkedIn
markdown_extensions:
  - pymdownx.superfences
  - toc:
      permalink: true
plugins:
  - search
  - minify_html
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          inventories:
            - https://docs.pydantic.dev/latest/objects.inv
            - https://docs.python.org/3/objects.inv
            - https://typing-extensions.readthedocs.io/en/stable/objects.inv
          options:
            docstring_options:
              ignore_init_summary: true
            docstring_section_style: list
            filters:
              - "!^_(?:[^_].*[^_]|_(?:all|doc|format|main|module|new|slots|str)__)$"
            heading_level: 3
            members_order: source
            merge_init_into_class: true
            parameter_headings: true
            preload_modules:
              - pywttr_models
            separate_signature: true
            show_if_no_docstring: true
            show_signature_annotations: true
            show_source: false
            show_submodules: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            type_parameter_headings: true
